/* Making the app responsive for mobile */
@media (max-width: 576px) {
  .gardening {
    display: none;
  }
  h1 {
    font-size: 28px;
  }
  h2,
  .forecast-weekdays,
  .overview-description,
  .temperatures {
    font-size: 21px;
  }
  .reference-links,
  .opensource-link {
    font-size: 16px;
  }
  .form-control,
  .findMe-button,
  .search-button {
    margin: 10px;
  }
  form {
    padding: 0px;
  }
  .current-main-temp {
    margin-top: -70px;
    margin-left: -60px;
  }
  .WeatherForecastPrev {
    margin: 10px;
  }
  .forecast-icon {
    margin-left: -5px;
  }
}
.App {
  max-width: 700px;
  margin: 30px auto;
}
footer {
  opacity: 0.6;
  padding: 1 px;
  margin-top: -20px;
  margin-left: 6px;
  margin-bottom: 5px;
  font-size: 21px;
}
body {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
}
