@media (max-width: 576px) {
  .gardening {
    display: none;
  }
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 21px;
  }
  .reference-links {
    font-size: 16px;
  }
  .opensource-link {
    font-size: 16px;
  }
  .form-control {
    margin: 10px;
  }
  .findMe-button {
    margin: 10px;
  }
  .search-button {
    margin: 10px;
  }
  form {
    padding: 0px;
  }
  .current-main-temp {
    margin-top: -70px;
    margin-left: -60px;
  }
  .forecasticon {
    margin-left: 20px;
    height: 100px;
    width: 100px;
  }
  .temperatures {
    font-size: 21px;
  }
  .WeatherForecastPrev {
    margin: 20px;
  }
}
.App {
  max-width: 700px;
  margin: 30px auto;
}
footer {
  opacity: 0.6;
  padding: 1 px;
  margin-top: -20px;
  margin-left: 6px;
  margin-bottom: 5px;
  font-size: 21px;
}
body {
  font-family: "Poppins", sans-serif;
  color: #010101;
}
