.temperature {
  color: rgb(33, 33, 33);
  font-size: 68px;
  line-height: 1;
  font-weight: 400;
  padding: 4px;
  margin-left: 5px;
}

.units {
  position: relative;
  font-size: 21px;
  top: -30px;
  padding: 2px;
}
.WeatherTemperature {
  margin-top: -20px;
}
.WeatherTemperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}
.WeatherTemperature .active:hover {
  text-decoration: none;
}
