h2 {
  color: #e58857;
  font-size: 42px;
  font-weight: bold;
  line-height: 28px;
  margin-top: 30px;
  margin-bottom: 0;
  margin-left: 13px;
  padding: 5px;
}
.last-updated {
  font-size: 16px;
  opacity: 0.5;
  margin-left: 5px;
}
.overview {
  margin-bottom: 20px;
}
.overview-description {
  font-weight: bold;
  font-size: 21px;
  margin-top: 5px;
}
.extra-weather-info {
  margin-left: -20px;
  padding: 4px;
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: left;
}
ul {
  margin: 0;
  padding: 0;
}

li {
  opacity: 0.75;
  list-style: none;
  margin-left: 5px;
  padding: 1px;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
  margin-left: 14px;
}
