.Weatherinfo {
  margin-bottom: 20px;
}
h1 {
  color: #e58857;
  font-size: 48px;
  font-weight: bold;
  line-height: 28px;
  margin-top: 30px;
  margin-bottom: 0;
  padding: 10px;
  padding-right: 20px;
}
.last-updated {
  font-size: 16px;
  margin-left: -4px;
  opacity: 0.5;
  margin-top: 4px;
}
.overview {
  margin-bottom: 20px;
}
.overview-description {
  font-weight: bold;
  font-size: 28px;
  margin-top: 5px;
  margin-left: -6px;
}
ul {
  margin: 0;
  padding: 0;
}

li {
  opacity: 0.75;
  list-style: none;
  margin-left: 5px;
  padding: 4px;
  font-size: 21px;
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
  margin-left: 14px;
}
.extra-weather-info {
  margin-left: -15px;
  padding: 4px;
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: left;
  font-size: 16px;
}
.current-weather-icon {
  margin-left: 20px;
}
.current-main-temp {
  margin-left: -80px;
}
